<!DOCTYPE html>

<html>
<head>

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <style> div{ border: 1px solid red; margin: 2px; } </style>

</head>

<body ng-app="myApp">

    <div ng-controller="controllerA">

        <p> {{ value }} </p>
        <p> {{ sharedValue.sharedMessage }} </p>
        <input type="text" ng-model="sharedValue.sharedMessage" />
    </div>

    <div ng-controller="controllerB">

        <p> {{ value }} </p>
        <p> {{ sharedValue.sharedMessage }} </p>
        <input type="text" ng-model="sharedValue.sharedMessage" />
    </div>

</body>
</html>