<!DOCTYPE html>

<html  ng-app="myApp">
<head>

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

</head>

<body>

    <div ng-controller="ACtrl">
        <h3>Controller A</h3>
        <h3>{{dataObject}}</h3>
        <h3>{{dataObject.color}}</h3>
        <input type="text" ng-model="dataObject.color" />
    </div>

    <div ng-controller="BCtrl">
        <h3>Controller B</h3>
        <h3>{{dataObject}}</h3>
        <h3>{{dataObject.color}}</h3>
        <input type="text" ng-model="dataObject.color" />
    </div>

</body>
</html>